.card {
    border: 1px solid black;
    width: 80px;        
    height: 120px;
    display: inline-block;
}
.green {
    background-color: rgb(35, 248, 35);
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}